# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ===============================
# Virtual environments
# ===============================
venv/
.venv/
env/
ENV/

# ===============================
# Poetry
# ===============================
.poetry/
.poetry-cache/

# (on garde pyproject.toml & poetry.lock)
# pyproject.toml
# poetry.lock

# ===============================
# Logs & runtime
# ===============================
*.log
*.sqlite3

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# IDE - PyCharm
# ===============================
.idea/
*.iml

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Tests / coverage
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# API / temp outputs (optionnel)
# ===============================
data/
outputs/
tmp/
